<% content_for :title, "Editing result" %>

<section class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    
    <h1 class="text-center mb-5">Edit Result</h1>

    <%= render "form", result: @result %>

    <div class="row">
      <div class="col text-center">
        <div class="d-inline-flex flex-wrap justify-content-center gap-3 mt-4">

          <%= link_to results_path, class: "btn btn-outline-secondary back-btn" do %>
            <i class="bi bi-arrow-left me-2"></i>
            Back to results
          <% end %>

          <%= link_to "Show this result", @result, class: "btn btn-outline-primary back-btn" %>

        </div>
      </div>
    </div>

  </div>
</section>
