<% content_for :title, "Editing player" %>

<h1>Editing player</h1>

<%= render "form", player: @player %>

<br>

<div>
  <%= link_to "Show this player", @player %> |
  <div>
<%= link_to players_path, class: "btn btn-outline-secondary back-btn" do %>
  <i class="bi bi-arrow-left me-2"></i>
  Back to players
<% end %>
</div>
</div>
