<div id="<%= dom_id match %>">
  <p>
    <strong>Team a:</strong>
    <%= match.team_a_id %>
  </p>

  <p>
    <strong>Team b:</strong>
    <%= match.team_b_id %>
  </p>

  <p>
    <strong>Played at:</strong>
    <%= match.played_at %>
  </p>

</div>
