<div class="match-info">

  <p class="match-date text-muted mb-2">
    <%= l match.played_at, format: :short %>
  </p>

  <p class="match-teams h5 font-weight-bold mb-0">
    <%= match.team_a.name %> <span class="text-primary">vs</span> <%= match.team_b.name %>
  </p>
</div>
