<% content_for :title, "Editing match" %>

<h1 style="text-align: center">Update Match</h1>

<%= render "form", match: @match %>

<br>

<div class="d-flex justify-content-between align-items-center mt-3">
  <%= link_to matches_path, class: "btn btn-outline-secondary back-btn" do %>
    <i class="bi bi-arrow-left me-2"></i>
    Back to matches
  <% end %>

  <%= link_to "Show this match", @match, class: "btn btn-outline-secondary back-btn" %>
</div>
